<div id="project-form">
  <%= simple_form_for @project, remote: true, :authenticity_token => true do |f| %>
    <%= f.input :title  %>
    <%= f.text_area :description%>
    <%= f.input :photos, as: :attachinary %>
    <%= f.input :video, as: :attachinary %>
    <%= f.submit %>
  <% end %>
</div>
